.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlayDisplay{
  padding: 20px;
  padding-top: 35px;
  border-radius: 8px;
  width: 400px;
  max-height: 70vh;
  /*overflow-y: scroll;*/
  position: relative;
  z-index: 101;
}

#closeOverlay {
  position: absolute;
  top: 10px; right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0px;
}